*{
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
}
body{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    background: whitesmoke;
}
.wrapper{
    height: 500px;
    width: auto;
}
.menu{
  display: flex;
  justify-content: space-between;
}
ul{
    list-style-type:none;
    display: flex;
    margin: 30px;

}
a{
    color: #000;
    padding: .20em 1em;
    display: block;
    text-decoration: none;
}
a:hover{
  color: #339966;
  
}
.container{
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    justify-content: space-evenly;
    display: flex;
}
#grid1{
    padding: 30px;  
    margin-bottom: 10px;
}
#grid2{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-bottom: 10px;
}
.item:nth-of-type(1){
    grid-column: 1/0;
}
.container{
    grid-template-columns: 1fr;
    width: 100%;
}
.item:nth-of-type(1){
    grid-column: 1;
}
  @media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .menu {
    flex-direction: column;
  }
  ul{
      flex-direction: column;
      text-decoration: underline;
  }
}
